<% layout('templates/layout') -%>
				
<main id="home" class="home">
	<section class="home_1">
		<div class="welcome-msg">
			<h2 class="col-xs-12 text-center">Hello, my name is <strong>Holly Springsteen</strong></h2>
			<h3 class="col-xs-12 text-center">Web Designer and Developer, Graphic Designer<span data-toggle="tooltip" data-placement="bottom" title="All about that Oxford Comma">,</span> and Photographer</h3>
		</div>
		<img src="<%= creations[16].images.large %>" alt="Midnight Wonder" class="bg-1">
		<div class="scroll-hint col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
			<p>Scroll Down</p>
			<i class="fa fa-arrow-down fa-2x"></i>
		</div>
	</section>
	<section class="home_2">
		<article class="portfolioMenu col-xs-12">
			<ul class="col-md-10 col-md-offset-1">
				<li class="graphicMenu homePortMenu col-xs-12 col-sm-4">
					<a>
						<i class="fa fa-pencil fa-3x"></i><br>
						<h3>Graphic Design</h3>
					</a>
				</li>
				<li class="webMenu homePortMenu col-xs-12 col-sm-4 active">
					<a>
						<i class="fa fa-code fa-3x"></i><br>
						<h3>Web</h3>
					</a>
				</li>
				<li class="photoMenu homePortMenu col-xs-12 col-sm-4">
					<a>
						<i class="fa fa-camera-retro fa-3x"></i><br>
						<h3>Photography</h3>
					</a>
				</li>
			</ul>
		</article>
		<div class="bg-2">
			&nbsp;
			<article class="web homePortfolio active">
				<ul>
					<% for(var i=0;i<creations.length;i++){ %>
					<% if(creations[i].section == 'web'){ %>
					<li>
						<a href="/creations/project?p=<%= creations[i].name %>" class="col-xs-12 col-sm-6 col-md-3" style="background:url(<%= creations[i].images.small %>) no-repeat top center; background-size: 90%;">
							<h4><%= creations[i].name %></h4>
						</a>
					</li>
					<% } %>
					<% } %>
				</ul>
				<a href="creations/web-menu" class="seeMoreWork">See More</a>
			</article>
			<article class="graphic homePortfolio">
				<ul>
					<% for(var i=0;i<creations.length;i++){ %>
					<% if(creations[i].section == 'graphic'){ %>
					<li>
						<a href="/creations/project?p=<%= creations[i].name %>" class="col-xs-12 col-sm-6 col-md-3" style="background:url(<%= creations[i].images.small %>) no-repeat top center; background-size: 90%;">
							<h4><%= creations[i].name %></h4>
						</a>
					</li>
					<% } %>
					<% } %>
				</ul>
				<a href="creations/graphic-menu" class="seeMoreWork">See More</a>
			</article>
			<article class="photo homePortfolio">
				<ul>
					<% for(var i=0;i<creations.length;i++){ %>
					<% if(creations[i].section == 'photography'){ %>
					<li>
						<a href="/creations/project?p=<%= creations[i].name %>" class="col-xs-12 col-sm-6 col-md-3" style="background:url(<%= creations[i].images.small %>) no-repeat top center; background-size: 90%;">
							<h4><%= creations[i].name %></h4>
						</a>
					</li>
					<% } %>
					<% } %>
				</ul>
				<a href="creations/photo-menu" class="seeMoreWork">See More</a>
			</article>
		</div>
	</section>
	<section class="home_3">
		<h2 class="text-center">What I do</h2>
		<ul class="col-xs-12 text-center">
			<li class="wid wid-graphic col-md-3 col-sm-6">
				<div class="title-graphic">
					<img src="http://res.cloudinary.com/hollyspringsteen/image/upload/v1419733026/photoshop.png" alt="Photoshop">
					<h3>Graphic Art &amp; Design</h3>
				</div>
				<ul>
					<li>Responsive Design</li>
					<li>Adobe Creative Suite
						<ul>
							<li>Photoshop</li>
							<li>Illustrator</li>
							<li>InDesign</li>
							<li>Premiere Pro</li>
							<li>After Effects</li>
							<li>Audition</li>
						</ul>
					</li>
					<li>Photography</li>
				</ul>
			</li>
			<li class="wid wid-frontEnd col-md-3 col-sm-6">
				<div class="title-web">
					<img src="http://res.cloudinary.com/hollyspringsteen/image/upload/v1419733026/html5.png" alt="HTML5">
					<h3>Front-End Dev</h3>
				</div>
				<ul>
					<li>UI/UX</li>
					<li>HTML5</li>
					<li>CSS3
						<ul>
							<li>Bootstrap</li>
							<li>Sass</li>
							<li>Stylus</li>
						</ul>
					</li>
					<li>JavaScript
						<ul>
							<li>jQuery</li>
							<li>JSON</li>
							<li>Modernizr</li>
							<li>AngularJS</li>
							<li>Backbone.js</li>
							<li>Handlebars.js</li>
							<li>Ember.js</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="wid wid-backEnd col-md-3 col-sm-6">
				<div class="title-web">
					<img src="http://res.cloudinary.com/hollyspringsteen/image/upload/v1419733026/nodejs.png" alt="NodeJS">
					<h3>Back-End Dev</h3>
				</div>
				<ul>
					<li>PHP
						<ul>
							<li>CodeIgniter</li>
							<li>CakePHP</li>
						</ul>
					</li>
					<li>Python
						<ul>
							<li>Flask</li>
							<li>web2py</li>
							<li>Bottle</li>
						</ul>
					</li>
					<li>Node.js
						<ul>
							<li>Express</li>
							<li>EJS</li>
							<li>RequireJS</li>
							<li>Underscore.js</li>
							<li>Mocha</li>
							<li>Moment</li>
						</ul>
					</li>
				</ul>
			</li>
			<li class="wid wid-backEnd col-md-3 col-sm-6">
				<div class="title-web">
					<img src="/assets/images/logos/mongodb.png" alt="MongoDB">
					<h3>Database</h3>
				</div>
				<ul>
					<li>SQL</li>
					<li>MySQL</li>
					<li>NoSQL</li>
					<li>MongoDB</li>
				</ul>
			</li>
		</ul>
		&nbsp;
	</section>
</main>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>